body{
    background-color: #0E0E0E;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 300px;
    margin: 0px;
}

.header {
    /* border: yellow solid; */
    display: flex;
    justify-content: space-between;
    padding: px 150px;
    background-color: #1f2937;

}

h1{ 
    display: inline-block;
    margin: 0px;
}

ul {
    display: inline-block;
    list-style: none;
    align-self: right;
    font-size: 20px;
    margin: auto;
}

li {
    display: inline-block;
    margin-left: 40px;
}

.top_section{
    background-color: #1f2937; 
    padding: 10px 200px;
    /* border: red solid; */
}

.top {
    display: flex;
    justify-content: space-around;
    padding: 0px 0px;
    margin-top: 170px;
    margin-bottom: 100px;
    background-color: #1f2937;
    /* border: blue solid; */
}

.topleft {
    flex-basis: 50%;
    padding: 0px 150px 0px 0px;
    font-size: 20px;
}

.topleft h1 {
    font-size: 60px;
}
.topleft p {
    margin: 0px 0px;
    font-size: 30px;

}

.topbutton button {
    color: white;
    background-color: #3882F6;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 20px;
}
.topright {
    height: 200px;
    width: 300px;
    background-color: grey;
    display:  flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}

.middle {
    background-color: white;
    color: black;
    padding: 30px;
}

.middle_title {
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 30px;

}

.picture_array{
    display: flex;
    justify-content: space-around;
    padding: 0px 500px;
    gap: 50px;
    /* border: red solid; */
}

.picture_frame {
    border: #3882F6 solid 4px;
    height: 150px;
    width: 150px;
    display: inline-block;
    border-radius: 10px;
    margin: auto;

}
.card_container {
    flex-basis: 25%;
    
    }
    
 .card_container p {
        width: 125px;
}

.quote_container {
    background-color: #E5E7EB;
    color: black;
    padding: 50px 300px;
    text-align: left;
}

.quote {
    font-size: 40px;
    font-style: italic;
    font-weight: lighter;
}

.quote_person {
    text-align: right;
    font-weight: bolder;
    font-size: 30px;
}

.call2action {
    background-color: white;
    padding: 50px 0px;
}

.bluesign {
    background-color: #3882F6;
    height: 100px;
    width: 700px;
    border-radius: 10px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bluesign p {
    margin: 0px;
}

.bluebutton button {
    color: white;
    background-color: #3882F6;
    border: white solid 2px;
    padding: 5px 20px;
    border-radius: 5px;
    

}
.footer {
    display: flex;
    justify-content: center;
}

h2 {
    margin: 0px;
    padding: 0px;
}
